<!-- <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav pull-left">
          <li><%= link_to root_path do %><em class="fa fa-pencil-square-o fa-2x "></em><span> English Education Department - UPI</span><% end %></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
          <li><%= link_to root_path do %><em class="fa fa-connectdevelop fa-2x"></em><span>Home</span><% end %></li>
          <li ><%= link_to current_user do %><em class="fa fa-street-view fa-2x"></em>
          <span>Profile</span><% end %></li>
          <li><%= link_to mailbox_inbox_path do %>
          <%=unread_messages_count%>
          <em class="fa fa-envelope fa-2x"></em>
          <span>Inbox</span><% end %></li>
          <% end %>
          <% if user_signed_in? && lecturer? %>
          <li><%= link_to user_topics_path(current_user.id) do %><em class="fa fa-folder-open fa-2x"></em><span>Courses</span><% end %></li>
          <% end %>
          <% if user_signed_in? %>
          <li class="dropdown" >
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <em class="fa fa-cog fa-2x"></em></strong>
                      <b class="caret"></b>
                  </a>

                  <ul class="dropdown-menu">
                    <li><%= current_user.name %></li>
                    <% if user_signed_in? and current_user.role.name=="Admin" %>
        <li><%= link_to "Manage User", users_path, :class => "btn btn-default" %></li>
                    <li><%= link_to "Manage Role", roles_path, :class => "btn btn-default" %></li>
        <li><%= link_to "Manage Classroom", classrooms_path, :class => "btn btn-default" %></li>
                    <% end %>
                    </li>
                    <li><%= link_to destroy_user_session_path, :method => :delete do %>
                    <em class="fa fa-power-off fa-1x"></em><span>Logout</span>
                    <% end %>
                    </li>
                  </ul>
                <% else %>
         <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <strong><em class="fa fa-power-off fa-2x"></em></strong>
                      <b class="caret"></b>
                  </a>
         <ul class="dropdown-menu">
         <li><%= link_to "Login", new_user_session_path %></li>
       <% end %>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
 -->
 <div class="ui top fixed menu">
  <a class="item">
    <i class="sidebar icon"></i>
    Menu
  </a>
   <div class="right menu">
    <div class="itxem">
      <div class="ui transparent icon input">
        <%= form_tag(users_search_user_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "search users..", type: "search", data: {autocomplete: users_autocomplete_user_name_path} %> 
        <i class="search link icon"></i>
        <% end %>
        <script type="text/javascript" charset="utf-8">
        $('#search').bind('railsAutocomplete.select', function(event, data){
        $('#search-form').submit();
        });
</script>
      </div>
    </div>
  </div>

</div>
<br />
<br />
<br />

<div class="ui right demo sidebar vertical inverted `u">
  <a class="header item">File Permissions</a>
  <a class="item">Share on Social</a>
  <a class="item">Share by E-mail</a>
  <a class="item">Edit Permissions</a>
  <a class="item">Delete Permanently</a>
</div>

<div class="ui left demo vertical inverted labeled icon sidebar menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Roles
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Users
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    Class
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="chat icon"></i>
    Discussions
  </a>
  <a class="item">
    <i class="trophy icon"></i>
    Achievements
  </a>
  <a class="item">
    <i class="shop icon"></i>
    Store
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>

<div class="ui top demo sidebar ui segment">
  <div class="ui center aligned page grid">
    <div class="one column row">
      <div class="sixteen wide column">
        <h3 class="ui header">New Content Awaits</h3>
      </div>
    </div>
    <div class="three column divided row">
      <div class="column">
        <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
      </div>
    </div>
  </div>
</div>

<div class="ui bottom demo inverted nine item labeled icon sidebar menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Manage Users
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Manage Roles
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    Manage Classrooms
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="chat icon"></i>
    Discussions
  </a>
  <a class="item">
    <i class="trophy icon"></i>
    Achievements
  </a>
  <a class="item">
    <i class="shop icon"></i>
    Store
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>



<script type="text/javascript">
$(document)
  .ready(function() {
    $('.sidebar.direction.demo')
      .find('.buttons .button')
        .on('click', function() {
          var
            direction = $(this).data('direction')
          ;
          $(this).addClass('active').siblings().removeClass('active');
          if(direction === 'top' || direction === 'bottom') {
            $('.horizontal.button').addClass('disabled');
          }
          else {
            $('.horizontal.button').removeClass('disabled');
          }
        })
        .end()
        .children('.button')
        .on('click', function() {
          var
            transition = $(this).data('transition'),
            direction  = $('.sidebar.direction.demo .buttons .button.active').data('direction'),
            dimPage    = $('.sidebar.direction.demo .dim').checkbox('is checked')
          ;
          if( $(this).filter('.disabled').size() === 0) {
            $('.' + direction + '.demo.sidebar')
              .not('.styled')
              .sidebar('setting', {
                dimPage          : dimPage,
                transition       : transition,
                mobileTransition : transition
              })
            ;
            $('.' + direction + '.demo.sidebar').not('.styled').sidebar('toggle');
          }
        })
    ;
  })
;
$(".item").on('click', function(){
  $('.ui.labeled.icon.sidebar')
  .sidebar('toggle')
;
})
</script>